body{
	background-color: hotpink;
	color: lightblue;
	text-align: center;
	font-family: sans-serif;
	border: 9px solid green;
	

}
p{
	margin-bottom: 34px;
	background-color: blue;


}





